<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!--
    <filter>
        <filter-name>distributable Session Filter</filter-name>
        <filter-class>com.github.quick4j.core.web.http.filter.DistributableSessionFilter</filter-class>
        <init-param>
            <param-name>loadBalancingStrategy</param-name>
            <param-value>sticky</param-value>
        </init-param>
        <init-param>
            <param-name>sessionTimeout</param-name>
            <param-value>2</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>distributable Session Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->


    <filter>
        <filter-name>distributableSessionFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>distributableSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>greeting servlet</servlet-name>
        <servlet-class>com.github.quick4j.hello.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>greeting servlet</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
</web-app>
